# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Canis\git\javafx-and-fun-things\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
*.iml
*/.idea/workspace.xml
*/.idea/tasks.xml
/out/
/META-INF