.chart-series-line {
    -fx-stroke-width: 1px;
}

/**{*/
/*    -fx-create-symbols: false;*/
/*}*/

.chart-vertical-zero-line{
    -fx-stroke: null;
    -fx-stroke-width: 0px;
}

.chart-line-symbol {
    -fx-background-color: #ffffff00;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.chart-symbol {
    -fx-background-radius: 50px;
    -fx-padding: 50px;
}
